body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* interface */

.interface{
  width: 14%;
  height: 100vh;
  float: left;
  outline: 2px solid rgba(190, 191, 193, 0.77);
  border: 3px solid rgba(49, 55, 58, 0.91);
  background-color: black;
  color: white;
}

.Modal {
  background: #fff;
  position: absolute;
  border-radius: 10px;
  padding: 40px;
  margin: 20px;
  /* width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1111;
}

.ghost-button {
  display: inline-block;
  width: 5em;
  padding: 8px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
}


/* Levels */

.levels{
  float: right;
  width: 85%;
  height: 100vh;
  display: inline-block;
}

/* Arrows */

.down{
  display: inline-block;
	position: absolute;
  top: 85%;
  right: 39.5%;
  z-index: 999;
}