body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


/* interface */

.interface{
  border: 1px solid red;
  width: 29%;
  height: 100vh;
  display: inline-block;
  
}


/* Levels */

.levels{
  float: right;
  width: 70%;
  height: 100vh;
  display: inline-block;
}