#corridor{
    background-image: url('./assets/corridor.jpg');
    background-size: cover;
    height: 100vh;
}

#tortureRoomDiv{
    background-color: red;
    opacity: 0.5;
    width: 13%;
    height: 62%;
    position: absolute;
    left: 77%;
    top: 38%;
    z-index: 0;
}

#toBeds{
    background-color: red;
    opacity: 0.5;
    width: 6%;
    height: 51%;
    position: absolute;
    left: 69%;
    top: 47%;
    z-index: 0;
}

#jammedCorridor{
    background-color: blue;
    opacity: 0.5;
    width: 6%;
    height: 35%;
    position: absolute;
    left: 63%;
    top: 53%;
    z-index: 0;
}

#budgeCorridor{
    background-color: green;
    opacity: 0.5;
    width: 7%;
    height: 68%;
    position: absolute;
    left: 38%;
    top: 28%;
    z-index: 0;
}

#evilCorridor{
    background-color: yellow;
    opacity: 0.5;
    width: 12%;
    height: 51%;
    position: absolute;
    left: 51%;
    top: 32%;
    z-index: 0;
}