#prisonEntrance{
    background-image: url('./prisonEntrance.jpg');
    background-size: cover;
    height: 100vh;
}

#down_entrance {
	display: inline-block;
	position: absolute;
    top: 85%;
    right: 39.5%;
}