#tortureRoom{
    background-image: url('./assets/tortureRoom.jpg');
    background-size: cover;
    height: 100vh;
}

#tortureChair{
    background-color: green;
    opacity: 0.5;
    width: 22%;
    height: 48%;
    position: absolute;
    left: 54%;
    top: 45%;
    z-index: 0;
}